  /* ==============Nav================= */
  
  
  nav{ 
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: cornsilk;
  }
  
  input {
     margin-top: 20px;
     margin-right: 10px;
      width: 20%;
      height: 30%;
  }
  
  ul{
    display: flex;
    width: 60%;
    justify-content: space-between;
    list-style-type: none; 
    margin-block: 0;
    }
  
  body{
      background-color: rgb(255, 255, 255);
  }
  
  .images{
      position: relative; 
      top: -125px;
  }
  
  
  .right-nav{ 
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(233, 15, 15);
  }
  
  .input{
    justify-content: space-around;
  
  }
  
  .navi-links{
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    justify-content: space-around;
    padding: 10px;
    list-style-type: none;
  }
  
  ul{
      display: flex;
      width: 100%;
      justify-content: space-around;
      padding: 10px;
      list-style-type: none;
  }
  
  li .na-link{
    text-decoration: none;
    display: flex;
    color: black;
    padding: 20px;
  }

li .na-link:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(223, 120, 120);
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

.row {
   display: flex;
   justify-content: center;
}
  
.column {
   flex: 33.33%;
   padding: 5px;
  }

.back{
  background-color: rgb(255, 255, 255) ;
}

h1 {
  background-color: rgb(233, 15, 15);
  margin-left: 1px;
  width: 790px;
  padding-top: 300px;
  text-align: center;
  margin-right: 50%;
  padding: 5px;
  width: 789px;
}

.tp {
  background-color: white;
  text-decoration: red;

}

.container {
  background-color: rgb(197, 107, 107);
  margin: 30px auto;
  text-align: center;

}

label {
  display: flex;
  justify-content: space-between;
}

.Name1 {
  display: flex;
  flex-direction: column;
  margin-top: -500px;
}

select {
  color: rgb(92, 83, 83);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 270px;
  height: 50px;
  left: 10px;
}



input .text {
  display: block

}
input .text {
  display: block

}

button {
  display: block;
  text-align: center;
  margin: auto;
  display: flex;
  padding: 9px;
  color: #ffffff;
  border: none;
  background-color: rgb(252, 0, 0);
}


.profile-pic-div{
  height: 250px;
  width: 250px;
  position: relative;
  bottom: 7px;
  left: 260px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid grey;
}

#photo{
  height: 100%;
  width: 100%;
}

#file{
  display: none;
}

#uploadBtn{
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: wheat;
  line-height: 30px;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
  display: none;
} 

.nav-links a:hover{
  background-color: #491f1f85;
  width: auto;
  height: auto;
padding: 5px;
border-radius: px;
border: 1px solid rgb(255, 255, 255);

}



 /* ======================footer section================= */
.footer{
  position: absolute;
  bottom: -940px;
  width: 1220px;
  height: 300px;   /* Height of the footer */
  padding: 150px;
  background-color: red;
}

.footer-list{
  display: flex;
  flex-direction: column;
}

.footer-items{
  display: flex;
}

.diff-links{
  text-decoration: none;
  display: flex;
  color: black;
}

.headings{
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: bold;
}

.extra-info {
  display: flex;
  flex-direction: column;
}


input .sub{
  width: 100%;
}

.footer-sub {
  font-size:  20px;
}
 
input {
  width: 250px;
  padding: 5px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

form a {
  background-color: rgb(0, 0, 0);
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.last-footer {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  justify-content: space-between;
}

 